body
{
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #f5f0e6;
    color: #3b2f2f;
}

#containerFooter
{
    width: 100%;
    background-color: #bfa87a;
    color: #3b2f2f;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    padding: 15px 20px;
    box-sizing: border-box;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: #3b2f2f;
    cursor: pointer;
}
#webFooter
{
    padding-top: 10px;
    font-size: 14px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: #bfa87a;
    color: #3b2f2f;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: #3b2f2f;
    text-decoration: none;
    position: relative;
}
#credit a::after
{
content: "";
background: #3b2f2f;
mix-blend-mode: exclusion;
width: calc(100% + 18px);
height: 0;
position: absolute;
bottom: -4px;
left: -10px;
transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#credit a:hover::after
{
    height: calc(100% + 8px)
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 950px)
{
    #containerFooter
    {
        padding: 15px 20px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 12px;
    }
}
@media(max-width: 750px)
{
    #containerFooter
    {
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
    }
    #webFooter
    {
        padding: 10px 0;
    }
}
@media(max-width: 540px)
{
    #containerFooter
    {
        padding: 0 15px;
    }
}
